<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACx0w-l-em_i3_oGgtof68P0PzD_Wlv9M</string>
	<key>GCM_SENDER_ID</key>
	<string>270094003281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.Personnes</string>
	<key>PROJECT_ID</key>
	<string>hjye25u8iwm0i0zls78urffsc0jcgj</string>
	<key>STORAGE_BUCKET</key>
	<string>hjye25u8iwm0i0zls78urffsc0jcgj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270094003281:ios:5f5d75ebbae8d3ea0c9c70</string>
</dict>
</plist>